<% include ./partials/header.ejs %>

<h2 class="page-header">Add New Post</h2>
<form method="post" action="/posts">
    <% if(error){ %>
        <div class="error well">
            <%= error %>
        </div>
    <% } %>
    <div class="form-group">
        <label>Post</label>
        <textarea class="form-control" name="post"></textarea>
    </div>
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username">
    </div>
    <button type="submit" class="btn btn-default">Create post</button>
</form>

<% include ./partials/footer.ejs %>
