<% include ./partials/header.ejs %>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h3>POSTS</h3>
            <ul class="list-group" id="users">
                <% posts.forEach(function(post){ %>
                    <li class="list-group-item">
                        <p><%= post.text %></p>
                        <a id="username">posted by <%= post.username %></a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>

<% include ./partials/footer.ejs %>
