.container {
    margin-top: 30px;
}

#messageArea {
    display: none;
}

h3 {
    text-align: center;
}

#username {
    text-decoration: none;
}

.error {
    font-weight: bold;
    text-align: center;
    background: lightcoral;
}
